<div class="mt-5">
  <google-map height="100vh" width="100%" [center]="center">
    <map-marker [position]="marker.position"></map-marker>
  </google-map>
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <!--Section: Docs link-->
    <section class="pb-4 pt-5">
      <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary" class="waves-effect waves-light">Learn more</a>
      </panel>
    </section>
    <!--/.Section: Docs link-->
  </div>
</div>
