<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
    <div class=" embed-responsive-21by9 ">
        <video controls height="600px" width="100%" autoplay>
            <source src="assets/video/1/historia/b1/01.Losprogramasdevideo_de_la_asignatura_de_artes.mp4" type="video/mp4">
        </video>
    </div>
</div>