
<app-buscar (messageEvent)="receiveMessage($event)"></app-buscar>
<h1 class="text-center font-weight-bold mb-5">Colección Ximhai</h1>
<h3 class="font-weight-bold">Saberes disciplinares</h3>
<hr>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card3 swiper-slide" *ngFor="let dat of Libros | categoria:1  | busqueda: Ibusqueda">
            <div class="card-header3" style="background-image: url({{dat.src}})">


                <div class="card-header-slanted-edge3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>

                </div>
            </div>

            <div class="card-body3">
                <h4 class="job-title3"> {{dat.grado}} </h4>
                <h2 class="name3">{{dat.titulo_material}}</h2>
            </div>

            <div class="card-footer3">
                
                    <div>
                                       
                        <a *ngIf="dat.url" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 " href="{{dat.url}}" target="_blank"><mdb-icon fas icon="book" size="2x" class="white-text"></mdb-icon></a>

                        </div>
                     <!-- <div >
                        <span class="label">Descargar</span>
                        <span class="">
                            <a *ngIf="dat.url" mdbBtn floating="true"  class="night-fade-gradient" size="2x" gradient="" href="{{dat.url}}" target="_blank">
                                <mdb-icon fas icon="arrow-alt-circle-down"></mdb-icon>
                              </a>
                        </span>
                    </div>
                  <div class="stat">
                        <span class="label">Likes</span>
                        <span class="value">320</span>
                    </div>-->
                </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<h3 class="font-weight-bold mt-5">Proyectos</h3>
<hr>
<swiper [config]="config">
  <div class="swiper-wrapper">
      <div class="card3 swiper-slide" *ngFor="let dat of Libros | categoria:2 | busqueda: Ibusqueda">
          <div class="card-header3" style="background-image: url({{dat.src}})">


              <div class="card-header-slanted-edge3">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>

              </div>
          </div>

          <div class="card-body3">
              <h4 class="job-title3"> {{dat.grado}} </h4>
              <h2 class="name3">{{dat.titulo_material}}</h2>
          </div>

          <div class="card-footer3">
              
                  <div>
                                
                      <a *ngIf="dat.url" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 " href="{{dat.url}}" target="_blank"><mdb-icon fas icon="book" size="2x" class="white-text"></mdb-icon></a>

                      </div>
                  
              </div>
      </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<div class="row mt-5 mb-5">
    
  <div class="col-md-6" *ngFor="let dat of Libros | categoria:3 | busqueda: Ibusqueda">
    <h3 class="font-weight-bold mt-5">Multiples lenguajes</h3>
    <hr>
    <!--Card-->
    <div class="card3 swiper-slide" style="width: 100%!important;">
      <div class="card-header3" style="background-image: url({{dat.src}})">


          <div class="card-header-slanted-edge3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>

          </div>
      </div>

      <div class="card-body3">
          <h4 class="job-title3"> {{dat.grado}} </h4>
          <h2 class="name3">{{dat.titulo_material}}</h2>
      </div>

      <div class="card-footer3">
          
              <div>
                            
                  <a *ngIf="dat.url" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 " href="{{dat.url}}" target="_blank"><mdb-icon fas icon="book" size="2x" class="white-text"></mdb-icon></a>

                  </div>
              
          </div>
  </div>
    <!--/.Card-->
  </div>
  <div class="col-md-6" *ngFor="let dat of Libros | categoria:4 | busqueda: Ibusqueda">
    <!--Card-->
    <h3 class="font-weight-bold mt-5">Docente</h3>
    <hr>
    <div class="card3 swiper-slide" style="width: 100%!important;">
      <div class="card-header3" style="background-image: url({{dat.src}})">


          <div class="card-header-slanted-edge3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>

          </div>
      </div>

      <div class="card-body3">
          <h4 class="job-title3"> {{dat.grado}} </h4>
          <h2 class="name3">{{dat.titulo_material}}</h2>
      </div>

      <div class="card-footer3">
          
              <div>
                            
                  <a *ngIf="dat.url" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 " href="{{dat.url}}" target="_blank"><mdb-icon fas icon="book" size="2x" class="white-text"></mdb-icon></a>

                  </div>
              
          </div>
  </div>
    <!--/.Card-->
  </div>
</div>
