
<h1 class="text-center font-weight-bold mb-5">Libros de Texto</h1>
<h3 class="font-weight-bold">Colección Ximhai</h3>
<hr>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <!--<div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div> -->
        <div class="card3 swiper-slide" *ngFor="let uno of Images">
            <div class="card-header3" style="background-image: url(https://telesecundaria.sep.gob.mx/Content/Repositorio/Alumno/Imagenes/3/Espanol/3_11.png)">


                <div class="card-header-slanted-edge3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>

                </div>
            </div>

            <div class="card-body3">
                <h4 class="job-title3"> 3er Grado / Bloque 1 </h4>
                <h2 class="name3">Lengua Materna. Español</h2>
            </div>

            <div class="card-footer3">
                <div class="">
                    <div class="stat3">
                        <span class="label">Ver</span>
                        <span class="">
                            <a mdbBtn floating="true"  class="night-fade-gradient" size="2x" gradient="">
                                <mdb-icon fas icon="play"></mdb-icon>
                              </a>
                        </span>
                    </div>
                    <div class="stat3">
                        <span class="label">Descargar</span>
                        <span class="">
                            <a mdbBtn floating="true"  class="night-fade-gradient" size="2x" gradient="">
                                <mdb-icon fas icon="arrow-alt-circle-down"></mdb-icon>
                              </a>
                        </span>
                    </div>
                    <!-- <div class="stat">
                        <span class="label">Likes</span>
                        <span class="value">320</span>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<hr class="mt-5">
<div class="row mt-5 mb-5">
    
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.webp"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Nuestro libro de proyectos</strong>
          </h4>
         
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
    
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.webp"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
    
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>Libro de Multiple Lenguajes</strong>
            </h4>
           
          </mdb-card-body>
          <!--/.Card content-->
    
        </mdb-card>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
    
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.webp"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
    
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="card-title">
              <strong>Libro para el y la docente de Telesecundaria</strong>
            </h5>
           
          </mdb-card-body>
          <!--/.Card content-->
    
        </mdb-card>
        <!--/.Card-->
      </div>
  </div>