.swiper-container {
    padding: 15px!important;
}

//flechas de carrusell
.swiper-button-next {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

.swiper-button-prev {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

.side-nav .logo-wrapper {
    border-bottom: none!important;
}

.side-nav {
    width: 16rem!important;
}

.side-nav .sidenav-bg {
    width: 16rem!important;
}


.card_new{
    margin-bottom: 10px;
    border-radius: 0px 0px 30px 0px!important;
}
.card_new_body{
    background-image: url(../../../assets/img/azul_txt.png);
    background-repeat: no-repeat;
    background-size: 28px;
    text-align: center;
}
.boton_d{
    background: linear-gradient(40deg, #60bec6, #34919b) !important;
}
.card-title2{
    color:#4aa1af;
}

.card3 {
    position: relative;
    width: 315px;
    height: 350px;
    //margin: 30px auto;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    background-color: #4CA2B2;
    border-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

.card-header3 {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: top;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(5 85 134 / 30%), rgba(181, 181, 181, 0.1));
}

.card-header-bar3 {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    width: 100%;
}

svg .polygon {
    fill: #4ca2b2;
}

.card-header-slanted-edge3 {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    width: 100%;
    right: 0;
    left: 0;
}

.card-body3 {
    text-align: center;
    padding-left: 10px;
}

.name3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto;
    color: #fff;
}

.job-title3 {
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
}

.card-footer3 {
    // position: absolute;
    left: 0;
    width: 100%;
    //bottom: 20px;
    display: flex;
    justify-content: center;
}

.stat3 {
    box-sizing: border-box;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    border-left: 1px solid #EBEBEB;
    margin: 10px;
}

.stat3 .label {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    color: #95989A;
}

.stat3 .value {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.btn-floating i {
    line-height: 41px !important;
}

.btn-floating {
    box-shadow: 0 5px 6px #0000002e, 0 0px 6px #00000026;
    width: 40px;
    height: 40px;
}


.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #6d8a9b;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;     
  }
  .btn-search:focus ~ .input-search{
    width: 400px;
    border-radius: 0px;
    //background-color: transparent;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 400px;
    border-radius: 0px;
    //background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .tit_tipo{
    position: absolute!important;
    top: 5px;
    left: 5px;
  }