

<form autocomplete="off" [formGroup]="form" class="mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="md-form">
                <mdb-select-2 formControlName="grado"  placeholder="Elige una opción" label="Seleciona un grado" [dropdownClass]="'mdb-select-dropdown-colorful mdb-select-dropdown-ins'" >
                    <mdb-select-option *ngFor="let option of menu | menuGrado"  [value]="option.id_grado" (click)="grado()">{{ option.grado }}</mdb-select-option>
                </mdb-select-2>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="md-form">
                <mdb-select-2 formControlName="asignatura"  placeholder="Elige una opción" label="Seleciona una asignatura" >
                    <mdb-select-option  *ngFor="let asignatura of menu | menuAsig:gradosSelect"  [value]="asignatura.id_asignatura" (click)="asignaturas()">{{ asignatura.asignatura }}</mdb-select-option>
                </mdb-select-2>
            </div>
        </div>
    </div>

</form>
<section *ngIf="libros | pefilContent:2">
    <blockquote class="blockquote bq-warning">
        <p class="bq-title">Libros para el Alumno</p>
    </blockquote>
    
    <swiper [config]="config">
        <div class="swiper-wrapper">
    
            <div class="card3 swiper-slide fgrado{{libro.id_grado}}" *ngFor="let libro of libros | filterT2:2:gradosSelect:asigSelect:0 ">
                <div class="card-header3" style="background-image: url({{libro.img_libro}})">
                    <div class="topright fgrado{{libro.id_grado}}"><h4>{{libro.id_grado}}º</h4></div>
                </div>
                <div class="card-body3">
                    <h3 class="name3 textw mt-3 mb-3">{{libro.titulo_libro}}</h3>
                </div>
                <div class="card-footer3">
                    <div class="text-center mb-3">
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fas icon="book" size="2x" class="white-text"></mdb-icon></a>
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fas icon="cloud-download-alt" size="2x" class="white-text"></mdb-icon></a>
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fas icon="info-circle" size="2x" class="white-text"></mdb-icon></a>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>

</section>

<section *ngIf="libros | pefilContent:1">
    <blockquote class="blockquote bq-warning">
        <p class="bq-title">Libros para el Maestro</p>
    </blockquote>
    <swiper [config]="config">
        <div class="swiper-wrapper">
    
            <div class="card3 swiper-slide fgrado{{libro.id_grado}}" *ngFor="let libro of libros | filterT2:1:gradosSelect:asigSelect:0">
                <div class="card-header3" style="background-image: url({{libro.img_libro}})">
                    <div class="topright fgrado{{libro.id_grado}}"><h4>{{libro.id_grado}}º</h4></div>
                </div>
                <div class="card-body3">
                    <h3 class="name3 textw mt-3 mb-3">{{libro.titulo_libro}}</h3>
                </div>
    
                <div class="card-footer3">
                    <div class="text-center mb-3">
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon></a>
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fas icon="arrow-circle-down" size="2x" class="white-text"></mdb-icon></a>
                        <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 "><mdb-icon fas icon="info-circle" size="2x" class="white-text"></mdb-icon></a>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>

</section>