<h1 class="text-center">Libros de Texto</h1>

<form autocomplete="off" [formGroup]="form" class="mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="md-form">
                <mdb-select-2 formControlName="grado"  placeholder="Elige una opción" label="Seleciona un grado" [dropdownClass]="'mdb-select-dropdown-colorful mdb-select-dropdown-ins'" >
                    <mdb-select-option *ngFor="let option of menu | menuGrado"  [value]="option.id_grado" (click)="grado()">{{ option.grado }}</mdb-select-option>
                </mdb-select-2>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="md-form">
                <mdb-select-2 formControlName="asignatura"  placeholder="Elige una opción" label="Seleciona una asignatura" >
                        <mdb-select-option  *ngFor="let asignatura of menu | menuAsig:gradosSelect"  [value]="asignatura.id_asig" (click)="asignaturaf()">{{ asignatura.asig }}</mdb-select-option>
                </mdb-select-2>
            </div>
        </div>
    </div>

</form>

<blockquote class="blockquote bq-warning">
    <p class="bq-title">Libros para el Alumno</p>
</blockquote>

<swiper [config]="config">
    <div class="swiper-wrapper">

        <div class="card3 swiper-slide fgrado{{libro.id_grado}}" *ngFor="let libro of libros | filterT:1:gradosSelect:asigSelect ">
            <div class="card-header3" style="background-image: url({{libro.img}})">
                <div class="topright fgrado{{libro.id_grado}}"><h4>{{libro.id_grado}}º</h4></div>
            </div>
            <div class="card-body3">
                <h2 class="name3 textw mt-3 mb-3">{{libro.titulo}}</h2>
            </div>
            <div class="card-footer3">
                <div class="text-center mb-3">
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon></a>
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fas icon="arrow-circle-down" size="2x" class="white-text"></mdb-icon></a>
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fas icon="info-circle" size="2x" class="white-text"></mdb-icon></a>
                </div>
            </div>
        </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<blockquote class="blockquote bq-warning">
    <p class="bq-title">Libros para el Maestro</p>
</blockquote>
<swiper [config]="config">
    <div class="swiper-wrapper">

        <div class="card3 swiper-slide fgrado{{libro.id_grado}}" *ngFor="let libro of libros | filterT:2:gradosSelect:asigSelect">
            <div class="card-header3" style="background-image: url({{libro.img}})">
                <div class="topright fgrado{{libro.id_grado}}"><h4>{{libro.id_grado}}º</h4></div>
            </div>
            <div class="card-body3">
                <h2 class="name3 textw mt-3 mb-3">{{libro.titulo}}</h2>
            </div>

            <div class="card-footer3">
                <div class="text-center mb-3">
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon></a>
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fas icon="arrow-circle-down" size="2x" class="white-text"></mdb-icon></a>
                    <a mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 ml-0"><mdb-icon fas icon="info-circle" size="2x" class="white-text"></mdb-icon></a>
                </div>
            </div>
        </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>