.swiper-container {
    padding: 15px!important;
}

.zindex1 {
    z-index: 1;
}

//flechas de carrusell
.swiper-button-next {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

.swiper-button-prev {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

.side-nav .logo-wrapper {
    border-bottom: none!important;
}

.side-nav {
    width: 16rem!important;
}

.side-nav .sidenav-bg {
    width: 16rem!important;
}

.card3 {
    position: relative;
    width: 315px;
    height: 380px;
    //margin: 30px auto;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    background-color: #f2e7f8bf;
    border-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

.card-header3 {
    position: relative;
    height: 205px;
    background-size: cover;
    background-position: top;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to top, rgb(5 85 134 / 30%), rgba(181, 181, 181, 0.1));*/
}

.card-header-bar3 {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    width: 100%;
}

svg .polygon {
    fill: #f5edfa;
}

.card-header-slanted-edge3 {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    width: 100%;
    right: 0;
    left: 0;
}

.card-body3 {
    text-align: center;
}

.name3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: #5d5b5b;
    /*background: #b1a4bf85;*/
    border-radius: 5px;
    padding: 5px;
}

.job-title3 {
    font-size: 14px;
    margin-top: 5px;
    color: #af7fc9;
}

.card-footer3 {
    // position: absolute;
    left: 0;
    width: 100%;
    //bottom: 20px;
    display: flex;
    justify-content: center;
}

.stat3 {
    box-sizing: border-box;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    border-left: 1px solid #EBEBEB;
    margin: 10px;
}

.stat3 .label {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    color: #95989A;
}

.stat3 .value {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.btn-floating i {
    line-height: 41px !important;
}

.btn-floating {
    box-shadow: 0 5px 6px #0000002e, 0 0px 6px #00000026;
    width: 40px;
    height: 40px;
}

/*ESTILOS DE TARJETAS INDIVIDUALES*/

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 700;
    font-size: 1.5em !important;
}

h3 {
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

h6 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-weight: 300;
}

.card-r {
    margin: 10px;
}

.card-l {
    margin: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.card-i {
    margin: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

/*EMPIEZA ESTILOS DE GRADOS*/
.fgrado1 {
    background: #33B6C4;
    /*background: linear-gradient(270deg, rgba(0,164,181,1) 0%, rgba(55,117,127,1) 100%);*/
}

.fgrado2 {
    background: #8956AB;
    /*background: linear-gradient(178deg, #673a8fb8 0%, #5a327dc7 100%);*/
    padding: 5px;
}

.fgrado3 {
    background: #E74950;
    /*background: linear-gradient(181deg, #e62e39c4 0%, #c82932c7 100%);*/
    padding: 5px;
}
/*TERMINA ESTILOS DE GRADOS*/

/*EMPIEZA ESTILOS DE GRADOS INVERTIDOS*/
.fgradoi1 {
    background: #efefef;
    color: #33B6C4 !important;
    /*background: linear-gradient(270deg, rgba(0,164,181,1) 0%, rgba(55,117,127,1) 100%);*/
}

.fgradoi2 {
    background: #efefef;
    color: #8956AB !important;
    /*background: linear-gradient(178deg, #673a8fb8 0%, #5a327dc7 100%);*/
    padding: 5px;
}

.fgradoi3 {
    background: #efefef;
    color: #E74950 !important;
    /*background: linear-gradient(181deg, #e62e39c4 0%, #c82932c7 100%);*/
    padding: 5px;
}

.toprighti {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0px 4px 0px 14px;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 0;
    right: 0;
}
/*TERMINA ESTILOS DE GRADOS INVERTIDOS*/

.textw {
    color: #efefef;
}

.textg1 {
    color: rgb(0,164,181);
}

.textg2 {
    color: rgb(103,58,143);
}

.textg3 {
    color: rgb(230,46,57);
}

.esquinas10 {
    border-radius: 10px;
}

.esquinas20 {
    border-radius: 20px;
}

.materiale {
    background-color: #efefef;
    padding-left: 10px;
    padding-right: 10px;
    
}

.topleft {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #efefef;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px 0px 10px 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 15px;
}

.topright {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #efefef;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0px 10px 0px 10px;
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0;
    right: 0;
}

//flechas de carrusel

.swiper-button-next {
    background-image: url(../../../assets/img/flechaderecha.png) !important;
    background-repeat: no-repeat;
    color: transparent !important;
    background-color: transparent !important;
    padding-right: 12px !important;
    position: absolute !important;
    top: 88% !important;
    
}

.swiper-button-prev {
    background-image: url(../../../assets/img/flechaizquierda.png) !important;
    background-repeat: no-repeat;
    color: transparent !important;
    background-color: transparent !important;
    padding-left: 12px !important;
    position: absolute !important;
    top: 88% !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .swiper-button-next {
        padding-right: 15px !important;
        top: 88% !important;
        
    }
    
    .swiper-button-prev {
        padding-left: 15px !important;
        top: 88% !important;
    }
}