.page-wrapper {
    height: 100vh;
  
    .page-content {
        display: inline-block;
        width: 100%;
        padding-top: 20px;
        transition: padding-left .3s ease;
        @media screen and (min-width: 768px) {
            padding-left: 300px;
        }
        .overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 998;
            background: #000;
            opacity: .5;
            display: none;
            &.show {
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .sidebar {
        left: 0px;
    }
    &.toggled {
        .page-content {
            padding-left: 0;
        }
    }
    .attribution {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 5px;
        margin: 5px;
        letter-spacing: 1px;
    }
}



.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #6d8a9b;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;     
  }
  .btn-search:focus ~ .input-search{
    width: 400px;
    border-radius: 0px;
    //background-color: transparent;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 400px;
    border-radius: 0px;
    //background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }