<div class="row">
    <div class="col-md-4 col-lg-4">
        <div class="md-form">
            <mdb-select-2 placeholder="Elige una opción" label="Seleciona un grado" [dropdownClass]="'mdb-select-dropdown-colorful mdb-select-dropdown-ins'">
                <mdb-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mdb-select-option>
            </mdb-select-2>
        </div>
    </div>
    
   
</div>
<blockquote class="blockquote bq-warning">
    <p class="bq-title">Apuntes</p>
</blockquote>

<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<blockquote class="blockquote bq-warning mt-5 mb-5">
    <p class="bq-title">Especialidades tecnología</p>
</blockquote>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
