
.card2 {
    margin-bottom: 10px;
    background: #880e4f!important;
}


//flechas de carrusell
.swiper-button-next {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}


.btn_11{
    box-shadow: none!important;
    padding: 8px!important;
}