<form autocomplete="off" [formGroup]="form" class="mt-5">
  <div class="row">
      <div class="col-md-4 col-lg-4">
          <div class="md-form">
              <mdb-select-2 formControlName="grado" placeholder="Elige una opción" label="Selecciona un grado" [dropdownClass]="'mdb-select-dropdown-colorful mdb-select-dropdown-ins'">
                  <mdb-select-option *ngFor="let option of menu | menuGrado" [value]="option.id_grado" (click)="grado()">{{ option.grado }}</mdb-select-option>
              </mdb-select-2>
          </div>
      </div>
      <div class="col-md-4 col-lg-4">
          <div class="md-form">
              <mdb-select-2  formControlName="asignatura" placeholder="Elige una opción" label="Selecciona una asignatura">
                  <mdb-select-option *ngFor="let asignaturas of menu | menuAsig:gradosSelect" [value]="asignaturas.id_asignatura" (click)="asignaturaf()">{{ asignaturas.asignatura }}</mdb-select-option>
              </mdb-select-2>
          </div>
      </div>
      <div class="col-md-4 col-lg-4">
          <div class="md-form">
              <mdb-select-2  formControlName="bloque"  placeholder="Elige una opción" label="Selecciona un Bloque">
                  <mdb-select-option *ngFor="let bloques of bloque" [value]="bloques.id_bloque" (click)="bloquef()">{{ bloques.bloque}}</mdb-select-option>
              </mdb-select-2>
          </div>
      </div>
  </div>

</form>

<section *ngIf="Audiovisuales | pefilContent:2">
    <blockquote class="blockquote bq-warning">
        <p class="bq-title">Audiovisuales para el Alumno</p>
    </blockquote>
    
    <swiper [config]="config">
      <div class="swiper-wrapper">
          <mdb-card class="cardu swiper-slide color-block white-text fgrado{{dat.id_grado}}" *ngFor="let dat of Audiovisuales | filterT2Audio:2:gradosSelect:asigSelect:bloqueSelect | slice:0:50">
              <mdb-card-body>
                  <!-- Grid row -->
                  <div class="row">
    
                      <!-- Grid column -->
                      <div class="col-lg-5 text-center">
    
                          <!-- Featured image -->
                          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>

                                <div class="avimgfluid">
                                    <img class="img-fluid" src="./RepositorioT/audiovisuales/img/G{{dat.id_grado}}/T{{dat.id_perfil}}/A{{dat.id_asignatura}}/B{{dat.id_bloque}}/{{dat.orden}}.jpg" alt="Sample image">
                                </div>
                                
                                <a><div class="mask rgba-white-slight text-center" (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)"></div></a>
                          </div>
                          <!--Facebook-->
                          <a *ngIf="dat.url_video_audiovisual" type="button" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" mdbWavesEffect (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)">
                              <mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon>
                          </a>
                          <!--Twitter-->
                          <a *ngIf="dat.url_zip_audiovisual" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" (click)="visita(dat.id_mat_audiovisual, dat.id_tipo_material, 2)" href="{{dat.url_zip_audiovisual}}"><mdb-icon fas icon="cloud-download-alt" size="2x" class="white-text"></mdb-icon></a>
    
                      </div>
                      <!-- Grid column -->
    
                      <!-- Grid column -->
                      <div class="col-lg-7">
                       
                          <!-- Category -->
                          <mdb-badge pill="true" default="true">Audiovisual</mdb-badge>
                          <div class="fon1">
                          <!-- Post title -->
                          <p>{{dat.nom_video}}</p>
                          <hr class="hrw">
                          <p>{{dat.secuencia}}</p>
                          <hr class="hrw">
                          <!-- Post data -->
                          <p>{{dat.grado}}/{{dat.asignatura}}/Bloque {{dat.id_bloque}}</p>
                        </div>
    
                      </div>
                      <!-- Grid column -->
    
                  </div>
                  <!-- Grid row -->
    
              </mdb-card-body>
          </mdb-card>
          <mdb-card class="cardu swiper-slide color-block white-text fgrado{{dat.id_grado}}" *ngFor="let dat of Audiovisuales_aletorio | filterT2AudioAle:2:gradosSelect:asigSelect:bloqueSelect | slice:0:50">
            <p>hola como estas</p>
            <mdb-card-body>
                <!-- Grid row -->
                <div class="row">
  
                    <!-- Grid column -->
                    <div class="col-lg-5 text-center">
  
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>

                              <div class="avimgfluid">
                                  <img class="img-fluid" src="./RepositorioT/audiovisuales/img/G{{dat.id_grado}}/T{{dat.id_perfil}}/A{{dat.id_asignatura}}/B{{dat.id_bloque}}/{{dat.orden}}.jpg" alt="Sample image">
                              </div>
                              
                              <a><div class="mask rgba-white-slight text-center" (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)"></div></a>
                        </div>
                        <!--Facebook-->
                        <a *ngIf="dat.url_video_audiovisual" type="button" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" mdbWavesEffect (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)">
                            <mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon>
                        </a>
                        <!--Twitter-->
                        <a *ngIf="dat.url_zip_audiovisual" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" (click)="visita(dat.id_mat_audiovisual, dat.id_tipo_material, 2)" href="{{dat.url_zip_audiovisual}}"><mdb-icon fas icon="cloud-download-alt" size="2x" class="white-text"></mdb-icon></a>
  
                    </div>
                    <!-- Grid column -->
  
                    <!-- Grid column -->
                    <div class="col-lg-7">
                     
                        <!-- Category -->
                        <mdb-badge pill="true" default="true">Audiovisual</mdb-badge>
                        <div class="fon1">
                        <!-- Post title -->
                        <p>{{dat.nom_video}}</p>
                        <hr class="hrw">
                        <p>{{dat.secuencia}}</p>
                        <hr class="hrw">
                        <!-- Post data -->
                        <p>{{dat.grado}}/{{dat.asignatura}}/Bloque {{dat.id_bloque}}</p>
                      </div>
  
                    </div>
                    <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
            </mdb-card-body>
          </mdb-card>

          
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>

</section>

<section *ngIf="Audiovisuales | pefilContent:1">
    <blockquote class="blockquote bq-warning mt-5 mb-5">
        <p class="bq-title">Audiovisuales para el Maestro</p>
    </blockquote>
    
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <mdb-card class="cardu swiper-slide color-block white-text fgrado{{dat.id_grado}}" *ngFor="let dat of Audiovisuales | filterT2Audio:1:gradosSelect:asigSelect:bloqueSelect | slice:0:50">
                <mdb-card-body>
                    <!-- Grid row -->
                    <div class="row">
      
                        <!-- Grid column -->
                        <div class="col-lg-5 text-center">
      
                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>

                                <div class="avimgfluid">
                                    <img class="img-fluid" src="./RepositorioT/audiovisuales/img/G{{dat.id_grado}}/T{{dat.id_perfil}}/A{{dat.id_asignatura}}/B{{dat.id_bloque}}/{{dat.orden}}.jpg" alt="Sample image">
                                </div>
                                
                                <a><div class="mask rgba-white-slight" (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)"></div></a>
                            </div>
                            <!--Facebook-->
                            <a *ngIf="dat.url_video_audiovisual" type="button" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" mdbWavesEffect (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)">
                                <mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon>
                            </a>
                            <!--Twitter-->
                            <a *ngIf="dat.url_zip_audiovisual" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" (click)="visita(dat.id_mat_audiovisual, dat.id_tipo_material, 2)" href="{{dat.url_zip_audiovisual}}"><mdb-icon fas icon="cloud-download-alt" size="2x" class="white-text"></mdb-icon></a>
      
                        </div>
                        <!-- Grid column -->
      
                        <!-- Grid column -->
                        <div class="col-lg-7">
                        
                            <!-- Category -->
                            <mdb-badge pill="true" default="true">Audiovisual</mdb-badge>
                            <div class="fon1">
                            <!-- Post title -->
                            <p>{{dat.nom_video}}</p><hr>
                            <p>{{dat.secuencia}}</p>
                            <hr>
                            <!-- Post data -->
                            <p>{{dat.grado}}/{{dat.asignatura}}/Bloque {{dat.id_bloque}}</p>
                          </div>
      
                        </div>
                        <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                </mdb-card-body>
            </mdb-card>
            <mdb-card class="cardu swiper-slide color-block white-text fgrado{{dat.id_grado}}" *ngFor="let dat of Audiovisuales_aletorio | filterT2AudioAle:1:gradosSelect:asigSelect:bloqueSelect | slice:0:50">
                <p>hola como estas</p>
                <mdb-card-body>
                    <!-- Grid row -->
                    <div class="row">
      
                        <!-- Grid column -->
                        <div class="col-lg-5 text-center">
      
                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
    
                                  <div class="avimgfluid">
                                      <img class="img-fluid" src="./RepositorioT/audiovisuales/img/G{{dat.id_grado}}/T{{dat.id_perfil}}/A{{dat.id_asignatura}}/B{{dat.id_bloque}}/{{dat.orden}}.jpg" alt="Sample image">
                                  </div>
                                  
                                  <a><div class="mask rgba-white-slight text-center" (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)"></div></a>
                            </div>
                            <!--Facebook-->
                            <a *ngIf="dat.url_video_audiovisual" type="button" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" mdbWavesEffect (click)="openModal(dat.nom_video, dat.url_video_audiovisual, dat.id_mat_audiovisual, dat.id_tipo_material, 1)">
                                <mdb-icon fab icon="youtube" size="2x" class="white-text"></mdb-icon>
                            </a>
                            <!--Twitter-->
                            <a *ngIf="dat.url_zip_audiovisual" mdbBtn floating="true" class="z-depth-0 mt-0 mr-0 mb-0 mt-3" (click)="visita(dat.id_mat_audiovisual, dat.id_tipo_material, 2)" href="{{dat.url_zip_audiovisual}}"><mdb-icon fas icon="cloud-download-alt" size="2x" class="white-text"></mdb-icon></a>
      
                        </div>
                        <!-- Grid column -->
      
                        <!-- Grid column -->
                        <div class="col-lg-7">
                         
                            <!-- Category -->
                            <mdb-badge pill="true" default="true">Audiovisual</mdb-badge>
                            <div class="fon1">
                            <!-- Post title -->
                            <p>{{dat.nom_video}}</p>
                            <hr class="hrw">
                            <p>{{dat.secuencia}}</p>
                            <hr class="hrw">
                            <!-- Post data -->
                            <p>{{dat.grado}}/{{dat.asignatura}}/Bloque {{dat.id_bloque}}</p>
                          </div>
      
                        </div>
                        <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>

</section>