
<div class="container">

<div class="row mt-5">

    <div class="col-md-3 col-xs-4" *ngFor="let datos of C_Lectura">
      <!--Card-->
      <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img  [src]="datos.src"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->


        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          <!--Card content-->
          <h4 class="card-title">{{datos.titulo}}</h4>
           <!--Text-->

          <mdb-card-text>
              {{datos.grado}}
          </mdb-card-text>

          <!--Facebook-->
         <a type="button" href="{{datos.ver}}" target="_blank" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="play"></mdb-icon>
        </a>

        <!--Twitter-->
        <a type="button" href="{{datos.descarga}}" download mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="file-download"></mdb-icon>
        </a>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>

</div>


</div>