
.swiper-container {
    padding: 15px!important;
}

//flechas de carrusell
.swiper-button-next {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

.swiper-button-prev {
    background-color: #7d79dc6e;
    border-radius: 10px;
    padding: 20px;
}

