<blockquote class="blockquote bq-warning mt-5">
    <p class="bq-title">Primer Grado</p>
</blockquote>

<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let dat of Avisuales | filterT2:1:1:0:0">
            <img [src]="dat.img" />
            <div class="info">
                <p>{{dat.titulo_asignatura}}</p>
                <a href="{{dat.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<blockquote class="blockquote bq-warning mt-5 mb-5">
    <p class="bq-title">Segundo Grado</p>
</blockquote>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let dat of Avisuales | filterT2:1:2:0:0">
            <img [src]="dat.img" />
            <div class="info">
                <p>{{dat.titulo_asignatura}}</p>
                <a href="{{dat.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>


<blockquote class="blockquote bq-warning mt-5 mb-5">
    <p class="bq-title">Tercer Grado</p>
</blockquote>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let dat of Avisuales | filterT2:1:3:0:0">
            <img [src]="dat.img" />
            <div class="info">
                <p>{{dat.titulo_asignatura}}</p>
                <a href="{{dat.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
