
<blockquote class="blockquote bq-warning mt-5">
    <p class="bq-title">Dosificación de contenidos tercer grado</p>
</blockquote>

<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<blockquote class="blockquote bq-warning mt-5 mb-5">
    <p class="bq-title">Matrices de vinculación de aprendizajes esperados tercer grado</p>
</blockquote>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
