<h1 class="text-center mb-5">Programación Regular</h1>
<table mdbTable>
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <th scope="row">{{ el.uno }}</th>
        <td>{{ el.dos }}</td>
        <td>{{ el.tres }}</td>
        <td>{{ el.cuatro }}</td>
        <td>{{ el.cinco }}</td>
        <td>{{ el.seis }}</td>
      </tr>
    </tbody>
  </table>
  <table mdbTable>
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <th scope="row">{{ el.uno }}</th>
        <td>{{ el.dos }}</td>
        <td>{{ el.tres }}</td>
        <td>{{ el.cuatro }}</td>
        <td>{{ el.cinco }}</td>
        <td>{{ el.seis }}</td>
      </tr>
    </tbody>
  </table>