
<div class="container">


<!-- Section: Team v.3 -->
<section class="team-section my-5 mt-5" >

    <!-- Grid row-->
    <div class="row text-center text-md-left">
      
      <!-- Grid column -->
      <div class="col-xl-6  col-lg-4 mb-5 justify-content-between text-center"  *ngFor="let dat of Matriz">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="{{dat.img}}" class="rounded z-depth-1 img-fluid"  height="450px" style="height: 450px!important;" alt="Sample avatar">
        </div>
        <div class="mx-4">
            <h4 class="font-weight-bold mb-3">{{dat.titulo_matriz}}</h4>
            <h6 class="font-weight-bold grey-text mb-3">Grado: {{dat.id_grado}}°</h6>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic" href="{{dat.afi}}" target="_blank">
            <mdb-icon fas icon="book" size="2x"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic" href="{{dat.matriz}}" target="_blank">
            <mdb-icon far icon="play-circle" size="2x"></mdb-icon>
          </a>
          <!--Dribbble -->
          <a class="p-2 fa-lg dribbble-ic" href="{{dat.descarga}}" target="_blank">
            <mdb-icon fas icon="file-download" size="2x"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
 </section>
 </div>   
