<h1 class="text-center">Cortometrajes</h1>
<hr>
<div class="row mb-5">
 <!-- Grid column -->
 <div class="col-lg-4 col-md-6">

    <!-- Featured news -->
    <div class="single-news mb-lg-0 mb-4">

      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>
      </div>

      <!-- Data -->
      <div class="news-data d-flex justify-content-between">
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold">
            <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
        </a>
        <p class="font-weight-bold dark-grey-text">
          <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
      </div>

      <!-- Excerpt -->
      <h3 class="font-weight-bold dark-grey-text mb-3">
        <a>Title of the news</a>
      </h3>
      <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
        error sit voluptatem accusantium doloremque laudantium</p>

    </div>
    <!-- Featured news -->

  </div>
  <!-- Grid column -->
   <!-- Grid column -->
 <div class="col-lg-4 col-md-6">

    <!-- Featured news -->
    <div class="single-news mb-lg-0 mb-4">

      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>
      </div>

      <!-- Data -->
      <div class="news-data d-flex justify-content-between">
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold">
            <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
        </a>
        <p class="font-weight-bold dark-grey-text">
          <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
      </div>

      <!-- Excerpt -->
      <h3 class="font-weight-bold dark-grey-text mb-3">
        <a>Title of the news</a>
      </h3>
      <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
        error sit
        voluptatem accusantium doloremque laudantium</p>

    </div>
    <!-- Featured news -->

  </div>
  <!-- Grid column -->
   <!-- Grid column -->
 <div class="col-lg-4 col-md-6">

    <!-- Featured news -->
    <div class="single-news mb-lg-0 mb-4">

      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>
      </div>

      <!-- Data -->
      <div class="news-data d-flex justify-content-between">
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold">
            <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
        </a>
        <p class="font-weight-bold dark-grey-text">
          <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
      </div>

      <!-- Excerpt -->
      <h3 class="font-weight-bold dark-grey-text mb-3">
        <a>Title of the news</a>
      </h3>
      <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
        error sit  voluptatem accusantium doloremque laudantium
        </p>
    </div>
    <!-- Featured news -->

  </div>
  <!-- Grid column -->

</div>

<div class="row mb-5">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit
           voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit  voluptatem accusantium doloremque laudantium
           </p>
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
   
   </div>
   <div class="row mb-5">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit
           voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit  voluptatem accusantium doloremque laudantium
           </p>
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
   
   </div>
   <div class="row mb-5">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit
           voluptatem accusantium doloremque laudantium</p>
   
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
      <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
   
       <!-- Featured news -->
       <div class="single-news mb-lg-0 mb-4">
   
         <!-- Image -->
         <div class="view overlay rounded z-depth-1-half mb-4">
           <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
           <a>
             <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
           </a>
         </div>
   
         <!-- Data -->
         <div class="news-data d-flex justify-content-between">
           <a href="#!" class="deep-orange-text">
             <h6 class="font-weight-bold">
               <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
           </a>
           <p class="font-weight-bold dark-grey-text">
             <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
         </div>
   
         <!-- Excerpt -->
         <h3 class="font-weight-bold dark-grey-text mb-3">
           <a>Title of the news</a>
         </h3>
         <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
           error sit  voluptatem accusantium doloremque laudantium
           </p>
       </div>
       <!-- Featured news -->
   
     </div>
     <!-- Grid column -->
   
   </div>