<form utocomplete="off" [formGroup]="form" class="mt-5">
    <div class="container mb-5">
      <div class="row">
          <div class="col-md-12">
              <h5 class=" mt-3 mr-2" style="float: left;font-weight: 900;color: #6d8a9b;">Buscar</h5>
              <div class="search-box mt-2" style="float: left;">
                  <button class="btn-search"><i class="fas fa-search"></i></button>
                  <input formControlName="Ibusqueda" type="text" class="input-search" placeholder="Escribe para Buscar..." (keyup)="buscardato()" >
              </div>    
          </div>
      </div>
    </div>
</form>
