<blockquote class="blockquote bq-warning mt-5 mb-5">
  <p class="bq-title">Lo mas visto por la Comunidad</p>
</blockquote>

<swiper [config]="config">
  <div class="swiper-wrapper">
      <!--Card-->
       <mdb-card cascade="true" narrower="true" class=" swiper-slide bajar" *ngFor="let uno of Images" >
    
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-badge pill="true" primary="true" style="position: absolute;top: 10px;left: 10px;z-index: 10;">Informatico</mdb-badge>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.webp"></mdb-card-img>
          <a>
          
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
         
          <!--Title-->
          <h6 class="card-title">La multiplicación y división con números enteros, fracciones y decimales positivos y negativos</h6>
          <!--Text-->
          <p class="text-default">Segundo grado/Matematicas </p>
         
          <a mdbBtn color="unique" rounded="true" mdbWavesEffect>Ver</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<blockquote class="blockquote bq-warning mt-5 mb-5">
  <p class="bq-title">Otros Materiales</p>
</blockquote>

<swiper [config]="config">
  <div class="swiper-wrapper">
      <!--Card-->
       <mdb-card cascade="true" narrower="true" class=" swiper-slide bajar" *ngFor="let uno of Images" >
    
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-badge pill="true" primary="true" style="position: absolute;top: 10px;left: 10px;z-index: 10;">Informatico</mdb-badge>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.webp"></mdb-card-img>
          <a>
          
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
         
          <!--Title-->
          <h6 class="card-title">La multiplicación y división con números enteros, fracciones y decimales positivos y negativos</h6>
          <!--Text-->
          <p class="text-default">Segundo grado/Matematicas </p>
         
          <a mdbBtn color="unique" rounded="true" mdbWavesEffect>Ver</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


