<blockquote class="blockquote mt-5 mb-5 tverde">
  <p class="bq-title">Lo más visto por la Comunidad</p>
</blockquote>

<swiper [config]="config">
  <div class="swiper-wrapper">
      <!--Card-->
       <mdb-card cascade="true" narrower="true" class=" swiper-slide bajar" *ngFor="let dat of MasVistos" >
    
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-badge pill="true" style="position: absolute;top: 10px;left: 10px;z-index: 10;" class="fverde">{{dat.material}}</mdb-badge>
          <mdb-card-img src="{{dat.img}}"></mdb-card-img>
          <a>
          
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
         
          <!--Title-->
          <h6 class="card-title tverde">{{dat.titulo}}</h6>
          <!--Text-->
          <p class="text-default tverde">{{dat.grado}}<br>{{dat.asignatura}} </p>
         
          <a *ngIf="dat.id_tipo_material != 3" mdbBtn rounded="true" mdbWavesEffect href="{{dat.url}}" target="_blank" class="fverde">Ver</a>
          <a *ngIf="dat.id_tipo_material == 3" mdbBtn rounded="true" mdbWavesEffect (click)="openModal(dat.titulo, dat.url, dat.id_material, dat.id_tipo_material, 0)" class="fverde">Ver</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<blockquote class="blockquote mt-5 mb-5 tverde">
  <p class="bq-title">Material alternativo</p>
</blockquote>

<swiper [config]="config">
  <div class="swiper-wrapper">
      <!--Card-->
       <mdb-card cascade="true" narrower="true" class=" swiper-slide bajar" *ngFor="let dat of Material" >
    
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-badge pill="true" style="position: absolute;top: 10px;left: 10px;z-index: 10;" class="fverde">{{dat.tipo_material}}</mdb-badge>
          <mdb-card-img *ngIf="dat.img" src="{{dat.img}}"></mdb-card-img>
          <mdb-card-img *ngIf="!dat.img" src="./RepositorioT/audiovisuales/img/G{{dat.id_grado}}/T{{dat.id_perfil}}/A{{dat.id_asignatura}}/B{{dat.id_bloque}}/{{dat.orden}}.jpg"></mdb-card-img>
          <a>
          
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
         
          <!--Title-->
          <h6 class="card-title tverde">{{dat.titulo}}</h6>
          <!--Text-->
          <p class="text-default tverde">{{dat.grado}}<br>{{dat.asignatura}} </p>
         
          <a *ngIf="dat.id_tipo_material != 3" mdbBtn rounded="true" mdbWavesEffect (click)="visita(dat.id_material, dat.id_tipo_material, 1)" href="{{dat.url}}" target="_blank" class="fverde">Ver</a>
          <a *ngIf="dat.id_tipo_material == 3" mdbBtn rounded="true" mdbWavesEffect (click)="openModal(dat.titulo, dat.url, dat.id_material, dat.id_tipo_material, 1)" class="fverde">Ver</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


