.card_new{
    margin-bottom: 10px;
}

.card_new_body{
    background-size: 28px;
    text-align: center;
}
.boton_d{
    background: linear-gradient(40deg, #60bec6, #34919b) !important;
    margin-bottom: -30px;
}
.card-title2{
    color:#4aa1af;
}

.back_footer{
background-image: url("../../../assets/img/video_new.png");
border-top: none!important;
padding: 18px!important;
background-position: bottom;
}

.tit_tipo{
    position: absolute!important;
    top: 5px;
    left: 5px;
  }
